/*
 * Dice.css v1.0
 * Code - MIT License - https://github.com/diafygi/dice-css
 * Images - Public Domain - https://openclipart.org/detail/105931/sixsided-dice-faces-lio-01
 */
.dice{
    display:inline;
    padding-right: 6%; //Gives me even spacing all across
}

svg {
    circle {
        fill: white;
        stroke-width: 0;
    }
}